<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On
</IfModule>
 
<IfModule mod_rewrite.c>    
    
    RewriteRule ^.*$ frontend/web/index.php
</IfModule>
<IfModule mod_xsendfile.c> 
 # <Archivos * .php> 
 #   XSendFile en 
 #   XSendFileAllowAbove en 
 #   SetEnv MOD_X_SENDFILE_ENABLED 1 
 # </Files> 
</IfModule>
