/*
AJUSTES DEL MODAL
*/
/*.modal-backdrop {
    z-index: 0 !important;
}*/

/*
AJUSTES PARA EL MENU LATERAL EL BODY DEBE DE COIDIR CO EL COLOR
*/
body {
    
    background: #671a60 !important;
    
}


/*
Corregir el color del link dl sandwih
del menu principal 
y tambien los links d elos tabs
*/
 .nav>a,
.nav-tabs > li > a {
    color: #90be49 !important;
    text-decoration: none;
 }
 .nav>a:over,
.nav-tabs > li > a:over {
    color: #red !important;
    text-decoration: none;
 }
 /*
Aumentar el tamaño de la letra del menu
 lateral
*/
 .nav-sm .nav.side-menu li a {
    
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

/*
Corregir los colores feos del menu lateral 
cunado salian fondos blancos  y letras grises
al pasar el mouse a:hover,a:active,a:focus,
*/

.nav-sm ul.nav.child_menu a:hover, .nav-sm ul.nav.child_menu a:active, .nav-sm ul.nav.child_menu a:focus, .nav.child_menu>li>a:hover, .nav.child_menu>li>a:active, .nav.child_menu>li>a:focus, .nav.side-menu>li.active>a {
    color: #fffbfb !important;
    background: #581a4b !important;
}

div.box {
     height:auto !important;    
     border: none  !important; 
     background-color: #fefefe !important; ; 
}


/*
No se veian los spams fa fa 
*/
.nav-sm span.fa, .nav-sm .menu_section h3 {
   display:inline !important;
}
/*
Corregir el color del boton verde del success
*/
.btn-success {
    background-color: #90be49;
    background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
    background-image: -ms-linear-gradient(top, #62c462, #51a351) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90be49), to(#90be49)) !important;
    background-image: -webkit-linear-gradient(top, #90be49, #90be49) !important;
    background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
    background-image: linear-gradient(top, #62c462, #51a351) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0) !important;
    border-color: #90be49 #90be49 #90be49 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
}

.btn-primary {
    background-color: #35a0ea !important;
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35a0ea), to(#35a0ea));
    background-image: -webkit-linear-gradient(top, #35a0ea, #35a0ea) !important;
    background-image: -o-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: linear-gradient(top, #0088cc, #0055cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0) !important;
    border-color: #35a0ea #35a0ea #35a0ea !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
}
/*
EL color del link
*/
th a {
    color: #52c0ff!important;    
}

/*
COLOR DE FONDO 
*/
body .container.body .right_col {
    background: #ffffff !important;
}

/*
Ancho del select2 WIDGET 
*/
.select2-container {
   
    width: 100% !important;
}

/*
Bordes de los inputs de l formulario
seleccionados cuando se validan
*/
.form-group.has-success .form-control, .form-group.has-success .input-group-addon {
    border-color: #66ad02 !important;
    
}
/*
Color de los labels al validar success
*/
.form-group.has-success label {
    color: #90be49 !important;
}
/*
Bordes de los inputs de l formulario
seleccionados con error
*/
.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #fdbfa7 !important;
 
}
/*
Mensajes de error de los forms
*/
.form-group.has-error .help-block {
    color:#de6131 !important;
}

/*
Color de los labels con error
*/
.form-group.has-error label {
    color: #fdbfa7 !important;
}


input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color:yellow !important;
    color: fieldtext !important;
}



/*Selccion del meni
*/
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #90be49 !important;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #c7db3d !important;
};

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: #ffffff;
}
.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color:#ffffff;
}


/*Corriegiendo los badgets de BOOTSTEAP 
*/
.badge-danger {   
    background-color: #fd7f7f !important;
    border-radius: 5px;
}
.badge-success {   
    background-color: #f9b821ed !important;
    border-radius: 5px;
}
.badge-warning {   
    background-color: #8fc20fed !important;
    border-radius: 5px;
}


/*
AJUSTES PARA EL PANEL IZQUIERDO DEL MENU
*/
.left_col {
    background: #671a60;
}
.nav_title {
   
    background: #4b2a54 !important;

}
.sidebar-footer a:hover {
    background: #3c084d !important;
}

a:hover {
    color: #fdf8f7 !important;;

}
.sidebar-footer a {
    
    background: #4b2a54 !important;
  
}
.sidebar-footer {
    
    background: #4b2a54 !important;
   
}

.nav-sm ul.nav.child_menu {
   
    background: #671a60 !important;
   
}

table td .btn {
  padding: 2px 6px 2px 6px !important;  
  margin-right: 0px !important; 
  margin-left: 0px !important; 
}

/*
ORDEN DE FRONTAL EN MODALES
*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index:100000 !important;
}



.modal-backdrop {   
    z-index: 0 !important;
}

.input-group .form-control {    
    z-index: 0 !important;   
}
    
/*.fa, .fas {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 600 !important;
}*/
div.required .control-label:not(span):after, td.required:after {
    content: ' *';
    color: #d22020;
    font-weight: bold;
}